/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.serverDetails {
  display: grid;
  gap: 0.75rem;
  justify-content: center;
  margin: 2rem 0;
}

.serverDetail dt {
  font-weight: 700;
}

.serverDetail dd {
  margin: 0;
}
